## Load required packages

sqlite3 will setup the connection

pandas will handle in data-frame format

In [1]:
import pandas as pd
import sqlite3

Connect to the database

In [2]:
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

Direct query using sqlite3

In [3]:
c = conn.cursor()
r = c.execute('''SELECT * FROM Customer WHERE LastName LIKE 'G%' ''')

Fetch a single result

In [4]:
r.fetchone()

(1,
 'Luís',
 'Gonçalves',
 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Av. Brigadeiro Faria Lima, 2170',
 'São José dos Campos',
 'SP',
 'Brazil',
 '12227-000',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566',
 'luisg@embraer.com.br',
 3)

We can request a specific number, like 3

In [5]:
r.fetchmany(3)

[(7,
  'Astrid',
  'Gruber',
  None,
  'Rotenturmstraße 4, 1010 Innere Stadt',
  'Vienne',
  None,
  'Austria',
  '1010',
  '+43 01 5134505',
  None,
  'astrid.gruber@apple.at',
  5),
 (19,
  'Tim',
  'Goyer',
  'Apple Inc.',
  '1 Infinite Loop',
  'Cupertino',
  'CA',
  'USA',
  '95014',
  '+1 (408) 996-1010',
  '+1 (408) 996-1011',
  'tgoyer@apple.com',
  3),
 (23,
  'John',
  'Gordon',
  None,
  '69 Salem Street',
  'Boston',
  'MA',
  'USA',
  '2113',
  '+1 (617) 522-1333',
  None,
  'johngordon22@yahoo.com',
  4)]

Or all the ones requiring for this query

In [6]:
r.fetchall()

[(27,
  'Patrick',
  'Gray',
  None,
  '1033 N Park Ave',
  'Tucson',
  'AZ',
  'USA',
  '85719',
  '+1 (520) 622-4200',
  None,
  'patrick.gray@aol.com',
  4),
 (42,
  'Wyatt',
  'Girard',
  None,
  '9, Place Louis Barthou',
  'Bordeaux',
  None,
  'France',
  '33000',
  '+33 05 56 96 96 96',
  None,
  'wyatt.girard@yahoo.fr',
  3),
 (56,
  'Diego',
  'Gutiérrez',
  None,
  '307 Macacha Güemes',
  'Buenos Aires',
  None,
  'Argentina',
  '1106',
  '+54 (0)11 4311 4333',
  None,
  'diego.gutierrez@yahoo.ar',
  4)]

Doing in a compact way:

In [7]:
r = c.execute('''SELECT * FROM Customer WHERE LastName LIKE 'G%' ''')
data_collected = r.fetchall()
data_collected

[(1,
  'Luís',
  'Gonçalves',
  'Embraer - Empresa Brasileira de Aeronáutica S.A.',
  'Av. Brigadeiro Faria Lima, 2170',
  'São José dos Campos',
  'SP',
  'Brazil',
  '12227-000',
  '+55 (12) 3923-5555',
  '+55 (12) 3923-5566',
  'luisg@embraer.com.br',
  3),
 (7,
  'Astrid',
  'Gruber',
  None,
  'Rotenturmstraße 4, 1010 Innere Stadt',
  'Vienne',
  None,
  'Austria',
  '1010',
  '+43 01 5134505',
  None,
  'astrid.gruber@apple.at',
  5),
 (19,
  'Tim',
  'Goyer',
  'Apple Inc.',
  '1 Infinite Loop',
  'Cupertino',
  'CA',
  'USA',
  '95014',
  '+1 (408) 996-1010',
  '+1 (408) 996-1011',
  'tgoyer@apple.com',
  3),
 (23,
  'John',
  'Gordon',
  None,
  '69 Salem Street',
  'Boston',
  'MA',
  'USA',
  '2113',
  '+1 (617) 522-1333',
  None,
  'johngordon22@yahoo.com',
  4),
 (27,
  'Patrick',
  'Gray',
  None,
  '1033 N Park Ave',
  'Tucson',
  'AZ',
  'USA',
  '85719',
  '+1 (520) 622-4200',
  None,
  'patrick.gray@aol.com',
  4),
 (42,
  'Wyatt',
  'Girard',
  None,
  '9, Place Louis Barthou',
  'Bordeaux',
  None,
  'France',
  '33000',
  '+33 05 56 96 96 96',
  None,
  'wyatt.girard@yahoo.fr',
  3),
 (56,
  'Diego',
  'Gutiérrez',
  None,
  '307 Macacha Güemes',
  'Buenos Aires',
  None,
  'Argentina',
  '1106',
  '+54 (0)11 4311 4333',
  None,
  'diego.gutierrez@yahoo.ar',
  4)]

We can then create a pandas data frame for our analysis

In [8]:
df_from_sqlite = pd.DataFrame(data_collected)
df_from_sqlite.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
2,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
3,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
4,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4

You can execute any query in this fashion:

In [9]:
r = c.execute('''SELECT COUNT(*) FROM Track''')
r.fetchone()

(3503,)

## Reading the data using pandas

It requires a connection to a SQL in the background, we'll give the same from above.

In [10]:
df = pd.read_sql('''SELECT * FROM Customer WHERE LastName LIKE 'G%' ''', conn)
df.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
2,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
3,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
4,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4

## Close the connection

After operating on the database, specially for queries that change the data (after commit), you'll need to close the connection.

In [11]:
conn.close()